/* CSS Reset*/
*,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* General Value CSS */
:root {
  /* Color Style */
  --black-color: #000;
  --white-color: #fff;
  --green-color: #00fc13;
}

/* Home Style */
main {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-color);
}

#home {
    background-image: url(./../images/hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section h3 {
  font-size: 33px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px var(--black-color);
}

section h1 {
  margin: 14px 0px 18px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--black-color);
}

section p {
  font-size: 20px;
  text-shadow: 1px 1px 1px var(--black-color);
  margin-bottom: 45px;
}

section a {
  padding: 9px 30px;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-right: 14px;
}

section .btn1 {
  background-color: var(--white-color);
  color: var(--black-color);
}

section .btn1:hover {
  background-color: #f0f32e;
  transition: all 0.3s linear;
}

section .btn2 {
  background-color: var(--green-color);
  color: var(--black-color);
}

section .btn2:hover {
  background-color: #b200fc;
  color: #fff;
  transition: all 0.3s linear;
}

.nameslideshow:after {
  color: var(--green-color);
  animation: changename 7s infinite linear;
  content: "";
}

@keyframes changename {
  0% {
    content: "Bangun";
  }

  25% {
    content: "Makan";
  }

  50% {
    content: "Main";
  }

  75% {
    content: "Tidur";
  }

  100% {
    content: "Berak";
  }
}
